<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strømpris</title>
    <style>
      body {
        margin: 0;
        font-family: Helvetica, Arial, sans-serif;
      }

      .error {
        color: red;
      }
      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #69dadb;
        color: black;
      }

      .topnav a.active {
        background-color: #193498;
        color: white;
      }

     
    
    </style>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm//vega@5"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm//vega-lite@5.6.0"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm//vega-embed@6"
    ></script>
  </head>
  
  <body>
    <!-- Add Navigation Bar to Docs.  -->
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/docs">FastAPI Docs</a>
      <a href="/help">Help</a>
    </div>
    
    <div style="text-align: center"> 
      <h1> My strømpris API</h1>
      <div style="display: inline-block; text-align: left;">
    <div id="vis"></div>
    
    <!-- Create Form -->
    <form action="javascript:refreshPlot()" id="price-form" margin="auto">
      
      <p><input type="checkbox" name="locations" value="NO5" checked>
        <label for="price-form">Bergen</label></p>
      
      <p><input type="checkbox" name="locations" value="NO2" checked>
        <label for="price-form">Kristiansand</label></p>
      
      <p><input type="checkbox" name="locations" value="NO1" checked>
        <label for="price-form">Oslo</label></p>

      <p><input type="checkbox" name="locations" value="NO4" checked>
        <label for="price-form">Tromsø</label></p>

      <p><input type="checkbox" name="locations" value="NO3" checked>
        <label for="price-form">Trondheim</label></p>

     

      

      <input id="end" type="date" name="end" min="2022-10-02" max="2022-12-31">
        <script>
          document.getElementById('end').value = new Date().toISOString().substring(0, 10);
          document.getElementById('end').max = new Date().toISOString().substring(0, 10);
        </script> 
      
      <input id="days" type="number"  name="days" value=7> 
      <button id="refresh" type="submit">Refresh</button>
      </form>
      <p>Data from https://www.hvakosterstrommen.no/strompris-api</p>
    </div>
  </div> 

    <script type="text/javascript">
      async function refreshPlot() {
        // begin constructing URL to request the plot JSON
        const plotUrl = new URL(
          `${document.location.protocol}//${document.location.host}/plot_prices.json`
        );

        // get inputs from the form

        // get selected location checkboxes
        for (checkbox of document
          .getElementById("price-form")
          .querySelectorAll("input[name=locations]")) {
          if (checkbox.checked) {
            plotUrl.searchParams.append("locations", checkbox.value);
          }
        }
        var endInput = document.getElementById("end");
        if (endInput) {
          plotUrl.searchParams.append("end", endInput.value);
        } else {
          console.warn('No input with id="end"');
        }

        var daysInput = document.getElementById("days");
        if (daysInput) {
          plotUrl.searchParams.append("days", daysInput.value);
        } else {
          console.warn('No input with id="days"');
        }

        console.log(`requesting new chart from ${plotUrl.href}`);
        var response = await fetch(plotUrl.href);
        var spec = await response.json();

        var embedOpt = { mode: "vega-lite" };

        function showError(el, error) {
          el.innerHTML =
            '<div class="error" style="color:red;">' +
            "<p>JavaScript Error: " +
            error.message +
            "</p>" +
            "<p>This usually means there's a typo in your chart specification. " +
            "See the javascript console for the full traceback.</p>" +
            "</div>";
          throw error;
        }
        const el = document.getElementById("vis");
        vegaEmbed("#vis", spec, embedOpt).catch((error) =>
          showError(el, error)
        );
      }
      refreshPlot();
    </script>
  </body>
</html>
